/* font-family: 'Hind Madurai', sans-serif; */
/* font-family: 'Fredoka One', cursive; */
/* font-family: 'Roboto', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* HEADER */

.header {
  font-family: 'Roboto', sans-serif;
  background-color: #F8EDF0;
  margin: 0 auto;
  padding: 10px 0;
}

.container {
  max-width: 1125px;
  margin: 0 auto;
  padding: 0 10px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-list {
  display: flex;
  list-style: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #150101;
  margin-left: 80px;
}

.menu-item {
  padding-right: 40px;
}

.menu-item:last-child {
  padding: 0;
}

.menu-link {
  color: #150101;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.6;
}

.menu-link-selected {
  color: #d23166;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  opacity: 1;
}

.header-button {
  font-family: 'Hind Madurai', sans-serif;
  display: block;
  padding: 14px 50px;
  background-color: #d23166;
  border-radius: 5px;
  color: #fafafa;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

/* MAIN */

/* SECTION "main-offer" */

.main-offer {
  padding: 90px 0 130px;
  background-color: #F8EDF0;
}

.main-info {
  display: flex;
  justify-content: space-between;
}

.main-offer-text {
  padding: 90px 0 140px;
  width: 650px;
}

.main-bold-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  margin-bottom: 6px;
}

.main-offer-title {
  font-family: 'Fredoka One', cursive;
  font-weight: 400;
  font-size: 57px;
  line-height: 69px;
  color: #0f0101;
  opacity: 0.9;
  margin-bottom: 35px;
}

.main-offer-span {
  color: #D23166;
}

.main-text {
  font-family: 'Hind Madurai', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #0f0101;
  opacity: 0.6;  
  margin-bottom: 50px;
}

.main-offer-btn {
  font-family: 'Hind Madurai', normal;
  padding: 14px 50px;
  background-color: #d23166;
  border-radius: 5px;
  color: #fafafa;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

.main-offer-images {
  display: flex;
  position: relative;
  right: 20px;
  top: -30px;
}

.main-offer-cup-img {
  z-index: 1;
}

.main-offer-milk-img {
  position: absolute;
  right: -250px;
  bottom: -170px;
  z-index: 2;
}

.main-offer-ellipse-img {
  position: absolute;
  right: -20px;
  bottom: -60px;
}

.main-offer-small-ellipse-img {
  position: absolute;
  right: 70px;
  bottom: -130px;
}

/* SECTION "benefits" */

.benefits {
  padding: 100px 0;
}

.benefits-list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  list-style: none;
}

.benefits-item {
  width: 250px;
  height: 200px;
  border: 1px solid rgba(0, 0, 0, 0.03);
  border-radius: 7px;
}

.benefits-item img  {
  margin-bottom: 25px;
}

.benefits-item h3 {
  font-family: 'Hind Madurai', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;  
  color: #000;
  margin-bottom: 10px;
}

.benefits .benefits-delivery-img {
  margin-bottom: 16px;
}

.benefits-item p {
  font-family: 'Hind Madurai', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #000;
}

/* SECTION "row-details" */

.row-details {
  padding: 140px 0 145px;
  background-color: #F8EDF0;
}

.row-details-info {
  display: flex;
  justify-content: space-between;
}

.row-details-text {
  width: 442px;
}

.row-details-text-title {
  font-family: 'Hind Madurai', sans-serif;
  font-weight: 600;
  font-size: 44px;
  line-height: 49px;
  color: #150101;
  margin-bottom: 16px;
  /* width: 350px; */
}

.row-details-text-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.6;
  color: #150101;
  margin-bottom: 50px;
}

.row-details-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #fafafa;
  background-color: #D64374;
  border-radius: 5px;
  padding: 15px 42px;
}

.row-details-images {
  display: flex;
  position: relative;
  width: 500px;
}

.row-details-main-img {
  position: absolute;
  right: 0;
  top: -80px;
}

.row-details-ellipse {
  position: absolute;
  right: 100px;
  top: 270px;
}
